.main {
  width: 40vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @media screen and (max-width:768px) {
      width: 100vw;
      height:80vh;
    }
  .social {
    width: 100%;
    height: 90%;
    color: #fcedcf;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    .box {
        width: 100%;
        height: 7vw;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.6rem 0.6rem;
        border-radius: 50%;
        transition: all ease 0.5s;
        position:relative;
        cursor: grab;
        .link-preview{
          width:22vw;
          height:20vw;
          position: absolute;
          top:-22vw;
          border-radius: 20px;
          background-color: #fff;
          visibility: hidden;
          opacity: 0;
          overflow:hidden;
          transition: all ease-in 0.3s;
          z-index: 222;
          img{
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
          }
        }
        &:hover {
          background-color: #fcedcf80;
          .link-preview{
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
}
