.right-seciton {
  width: 50vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  @media screen and (max-width: 375px) {
    width: 100vw;
    height: 70vh;
    padding-left: 5%;
  }
  @media screen and (max-width: 480px) {
    width: 100vw;
    height: 55vh;
    padding-left: 5%;
  }

  .main {
    width: 90%;
    height: 70%;
    color: #ed9639;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @media screen and (max-width:375px) {
      height: 90%;
    }
    .first-section {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      @media screen and (max-width: 375px) {
        gap: 0.7rem;
        font-size: 0.9rem;
      }
      .paragraph {
        padding-left: 2rem;
        color: #a35127;

        p {
          word-spacing: 0.3rem;
          line-height: 1.5rem;
        }
      }
    }
    .second-section {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      h1 {
        text-decoration: underline;
      }
      .certificates {
        display: flex;
        padding-left: 3rem;
        @media screen and (max-width: 480px) {
          padding-left: 0;
        }
        .certificate {
          display: flex;
          gap: 1rem;
          div {
            position: relative;
            display: flex;
            img {
              cursor: pointer;
              width: 4.5rem;
              height: 3.5rem;
              border-radius: 13px;
              border: 2px solid #3d190683;
              @media screen and (max-width: 375px) {
                width: 4rem;
                height: 3.5rem;
              }
            }
            .external-link {
              position: absolute;
              top: 0.2rem;
              left: 3.6rem;
              color: rgba(0, 0, 0, 0.699);
              @media screen and (max-width: 375px) {
                left: 3rem;
              }
            }
            .info {
              display: block;
              margin-left: 0.9rem;
              h3 {
                font-size: 0.9rem;
                @media screen and (max-width: 375px) {
                  font-size: 0.8rem;
                }
              }
              p {
                font-size: 0.7rem;
              }
            }
          }
        }
      }
    }
  }
}
